<div id="texto-maior">
<h2>Relátorios</h2>

<%= form_for(@dias, :as => :selecionar_mes, :method => :get, 
    :url => { :action => :schedule_select_day_report}) do |f| %>

  <div class="field">
    <%= f.label "Selecione um dia:" %><br />
    <% @dias.each do |d| %>
      <%= radio_button("data", "data_escolhida_dia", d) %>
      <%=d.day%>/<%= I18n.t("date.month_names")[d.month] %>/<%= d.year %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Continuar" %>
  </div>
<% end %>

<br />

<%= link_to 'Voltar', reports_relatorio_tipo_relatorio_path %>

</div>
