<div id="texto-maior">
<h2>Relatórios</h2>

<%= form_for(@anos, :as => :selecionar_ano, :method => :get, :url => { :action => :schedule_select_year_report}) do |f| %>

  <div class="field">
    <%= f.label "Selecione um ano:" %><br />
    <% @anos.each do |a| %>
      <%= radio_button("data", "ano", a.year) %><%= a.year %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Continuar" %>
  </div>
<% end %>

<br />

<%= link_to 'Voltar', reports_relatorio_tipo_relatorio_path %>

</div>
