<div id="texto-maior">
<h2>Relatórios</h2>

<div id="search-form">
<h4>Agendamentos:</h4>

<%= form_for(@search, :as => :q, :method => :post,
    :url => { :action => :generate_agendamentos_report, :format => :pdf, :search => @search }) do |f| %>
  <div class="field">
    <%= f.label :cidadao_nome, "Cidadão: " %><br />
    <%= f.text_field :cidadao_nome_cont, :class => "search-field"%>
  </div>

  <div class="field">
    <%= f.label :cidadao_cpf, "CPF: " %><br />
    <%= f.text_field :cidadao_cpf_eq, :class => "cpf"%>
  </div>

  <div class="field">
    <%= f.label :escala_profissional_executor_id, "Profissional: " %><br />
    <%= f.select :escala_profissional_executor_id_eq,
options_from_collection_for_select(Profissional.where("orgao_id = ? AND
ativo = ?", current_profissional.orgao_id,true),"id","nome",
@search.escala_profissional_executor_id_eq),
{:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="field">
    <%= f.label :escala_tipo_atendimento_id, "Tipo Atendimento: " %><br />
    <%= f.select :escala_tipo_atendimento_id_eq,
options_from_collection_for_select(TipoAtendimento.joins(:orgaos).where("orgao_id
= ? AND tipo_atendimentos.ativo = ?", current_profissional.orgao_id,true),"id","descricao",
@search.escala_tipo_atendimento_id_eq),
{:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="field">
    <%= f.label :tipo_situacao_id, "Situação: " %><br />
    <%= f.select :tipo_situacao_id_eq,
options_from_collection_for_select(TipoSituacao.all,"id","descricao",@search.tipo_situacao_id_eq),
{:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="field">
    <%= f.label :escala_data_execucao, "Inicio" %><br />
    <%= f.date_select :escala_data_execucao_gteq %>
  </div>

  <div class="field">
    <%= f.label :escala_data_execucao, "Fim" %><br />
    <%= f.date_select :escala_data_execucao_lteq %>
  </div>

  <div class="actions">
    <%= f.submit "Gerar relatório" %>
    <%= f.submit "Limpar campos", :id => "reset_btn" %>
  </div>

<% end %>

<%= link_to 'Voltar', reports_relatorio_tipo_relatorio_path %>

</div>
