<div id="texto-maior">
<h2>Relatórios</h2>

<%= form_for(@meses, :as => :selecionar_mes, :method => :get,
    :url => { :action => :schedule_select_month_report}) do |f| %>

  <div class="field">
    <%= f.label "Selecione um mês:" %><br />
    <% @meses.each do |m| %>
      <%= radio_button("data", "data_escolhida_mes", m) %>
      <%= I18n.t("date.month_names")[m.month] %>/<%= m.year %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Continuar" %>
  </div>
<% end %>

<br />

<%= link_to 'Voltar', reports_relatorio_tipo_relatorio_path %>

</div>
