<div id="search-form">
<h4>Buscar agendamentos disponíveis</h4>
<%= search_form_for @search do |f| %>
  <%= f.hidden_field :tipo_situacao_descricao_eq, { :value => "Vago" } %>

  <div class="field">
    <%= f.label :escala_tipo_atendimento_id, "Tipo de atendimento" %><br />
    <%= f.collection_select(:escala_tipo_atendimento_id_eq,
        TipoAtendimento.joins(:orgaos).where("orgao_id = ? AND tipo_atendimentos.ativo = ?",
        current_profissional.orgao,true),:id,:descricao, {:include_blank => "Todos"},
        {:class => "search-field"}) %>
  </div>

  <div class="actions">
    <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos", :id => "reset_btn" %>
  </div>
<% end %>

<hr>
</div>

<table class="list">
  <thead>
  <tr>
    <th>Atendimento</th>
    <th>Data</th>
    <th><%= sort_link @search, :horario_inicio_consulta, "Horário Início" %></th>
    <th>Horário Fim</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @agendamentos.each do |agendamento| %>
    <tr>
      <td><%= agendamento.escala.tipo_atendimento.descricao %></td>
      <td><%= agendamento.escala.data_execucao.strftime("%d/%m/%Y") %></td>
      <td><%= agendamento.horario_inicio_consulta.strftime("%H:%M") %></td>
      <td><%= agendamento.horario_fim_consulta.strftime("%H:%M") %></td>
      <td><%= link_to 'Agendar', edit_agendamento_path(agendamento) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to("Voltar", agendamentos_path(:clear_cpf => true),
    :confirm => "Deseja finalizar os agendamentos para este cidadão?",
    :clear_cpf => true) %>
