<%= form_for(@escala, url: profissionais_escalas_prefeitura_update_path ) do |f| %>
  <% if @escala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escala.errors.count, "error") %>, Escala não pode ser salva:</h2>

      <ul>
      <% @escala.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-required">
    <%= f.label :profissional_responsavel_id, "Profissional Responsável*: " %><br />
    <%= f.text_field :profissional_responsavel,
        :value => current_profissional.nome, :disabled => true %>
    <%= f.hidden_field :profissional_responsavel_id,
        :value => current_profissional.id %>
  </div>

  <div class="field-required">
    <%= f.label :orgao_id, "Local de Atendimento*: " %><br />
    <%= f.select( "orgao_id", Orgao.where("ativo = ?",
true).collect {|p| [ p.nome, p.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :profissional_executor_id, "Profissional: " %><br />
    <%= f.select("profissional_executor_id", Profissional.where("ativo = ?",
true).collect {|p| [ p.nome + " (" + p.orgao.nome + ")", p.id ] }, { :include_blank => true }) %>
  </div>

  <div class="field-required">
    <%= f.label :tipo_atendimento_id, "Tipo Atendimento*: " %><br />
    <%= f.select("tipo_atendimento_id",
TipoAtendimento.where("tipo_atendimentos.ativo = ?",true).collect {|t| [ t.descricao, t.id ] }) %>
    <font id=erro_ta color='red'></font>
  </div>

  <div class="field-required">
    <%= f.label :data_execucao, "Data*: " %><br />
    <%= f.date_select :data_execucao, {:start_year => (Time.now.year),
        :end_year => (Time.now.year),
        prompt: { day: 'Dia', month: 'Mês', year: 'Ano'},
        order: [:year, :month, :day]} %>
  </div>

  <div class="field-required">
    <%= f.label :horario_inicio_execucao, "Horário de Início*: " %><br />
    <%= f.time_select :horario_inicio_execucao,
        {:minute_step => 5, prompt: {hour: 'Hora', minute: 'Minutos'},
         selected: {year: Time.now.year, month: Time.now.month, day: Time.now.day}}%>
  </div>

  <div class="field-required">
    <%= f.label :horario_fim_execucao, "Horário de Fim*: " %><br />
    <%= f.time_select :horario_fim_execucao,
        {:minute_step => 5, prompt: {hour: 'Hora', minute: 'Minutos'}}%>
  </div>

  <div class="field-required">
    <%= f.label :tipo_acao_id, "Tipo de Ação*: " %><br />
    <% ta = TipoAcao.where("id != 1") %>
    <%= f.select("tipo_acao_id", ta.collect {|t| [ t.descricao, t.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :observacoes, "Observações: " %><br />
    <%= f.text_area :observacoes, rows: 5, cols: 50 %>
  </div>

  <h4>Atendimentos:</h4>

  <div class="field-required">
    <%= radio_button_tag 'rd_btn_atend', 'num' %>
    <%= f.label :numero_atendimentos, "Número de Atendimentos*: " %>
    <%= f.text_field :numero_atendimentos, :id => "n_atendimentos" %>
  </div>

  <div class="field-required">
    <%= radio_button_tag 'rd_btn_atend', 'inter' %>
	<%= f.label :numero_atendimentos_por_tempo, "Tempo de Atendimento (minutos): "%>
	<%= select_minute(0, {:minute_step => 5, :prompt => "Intervalo"}, :id => "select_atend") %>
  </div>

  <p><font color="red"> Campos com (*) são de preenchimento obrigatório.</font></p>

  <div class="actions">
    <%= f.submit :class => 'create_scale_btn' %>
  </div>
<% end %>

<script type='text/javascript'>
  if (document.getElementById("escala_tipo_atendimento_id").value == ""){
      document.getElementById("erro_ta").innerHTML = "Nenhum tipo de atendimento esta cadastrado para este Local de Atendimento, por favor entrar em contato com o administrador!";
    document.getElementById("escala_data_execucao_1i").disabled = true;
  };
</script>
