<fieldset>
  <legend>Agendamento</legend>
  <% if @meses.any? %>
    <%= form_for(@meses, :as => :selecionar_mes, :url => cidadaos_agendamentos_selecionar_mes_path, :method => :get, :html => { :class => "selecionar_mes", :id => "selecionar_mes"}) do |f| %>
      <div class="field">
        <p><b><u>Passo 4/7</u> - Selecione o mês do agendamento para consultar as datas disponíveis:</b></p>
        <% @meses.each do |m| %>
          <%= radio_button("data", "mes", m.month) %><%= I18n.t("date.month_names")[m.month] %>/<%= m.year %><br />
        <% end %>
      </div>
      <hr />
      <div class="actions">
        <span style="float: right;"><%= f.submit "Prosseguir" %></span>
    <% end %>
        <span style="float: left;"><%= button_to "Voltar", cidadaos_agendamentos_selecionar_orgao_path, :method => :get %></span>
        <span style="clear:both;"></span>
      </div>
  <% else %>
    <p>Ainda não existem agendamentos disponíveis para este tipo de atendimento em <%= @orgao.nome %></p>
    <hr />
    <span style="float: left;"><%= button_to "Voltar", cidadaos_agendamentos_selecionar_orgao_path, :method => :get %></span>
  <% end %>
</fieldset>
