<div id="texto-maior">
<h2>Agendamento</h2>
<h4>Passo 6 de 6 - Confirmação do agendamento:</h4>

<% unless session[:erro_salvar].nil? %>
  <div id="error_explanation">
    <h2>1 erro, o agendamento não pode ser confirmado:</h2>
    <ul>
      <li>Ocorreu um erro ao tentar salvar o agendamento! Por favor, tente novamente.</li>
    </ul>
  </div>
<% end %>
<% unless session[:erro_bloqueado].nil? %>
  <div id="error_explanation">
    <h2>1 erro, o agendamento não pode ser confirmado:</h2>
    <ul>
      <li>
        <p>Você não pode efetuar agendamentos no momento.</p>
        <p>Possíveis motivos:
          <ul>
            <li>Você não compareceu a um dos agendamentos marcados.</li>
            <li>Você efetuou o número máximo de agendamentos por cidadão.</li>
          </ul>
        </p>
      </li>
    </ul>
  </div>
<% end %>

<% unless @agendamento.escala.nil? %>
  <% unless @agendamento.escala.tipo_atendimento.nil? %>
    <p>
      <b>Tipo de atendimento:</b>
      <%= @agendamento.escala.tipo_atendimento.descricao %>
    </p>
  <% end %>

  <% unless @agendamento.escala.orgao.nil? %>
    <p>
      <b>Local de atendimento:</b>
      <%= @agendamento.escala.orgao.nome %>
    </p>

    <p>
      <b>Endereço:</b>
      <%= @agendamento.escala.orgao.endereco %>,
      <%= @agendamento.escala.orgao.numero_endereco %>
    </p>
  <% end %>

  <p>
    <b>Data do agendamento:</b> 
    <%= @agendamento.horario_inicio_consulta.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <b>Horário do atendimento:</b>
    <%= @agendamento.horario_inicio_consulta.strftime("%H:%M") %>
  </p>
<% end %>

<div id="formulario-horizontal">
<%= form_tag(cidadaos_agendamentos_salvar_agendamento_path, method: :put) do %>
  <div class="field">
    <p><b>Observação*:</b></p>
    <%= text_area_tag 'observacao', nil, rows: 5,
        style: 'width: 350px; resize: none; border: 0.5px solid #CCC;' %>
  </div>

  <br/>

  <p><small>
    <b>* Caso esse agendamento seja para outra pessoa, informe o nome
       completo e número do documento dela</b></small></p>

  <div class="actions">
    <%= submit_tag "Voltar", :name => "anterior" %>
    <%= submit_tag "Confirmar" %>
  </div>

<% end %>
</div>

</div>
