<div id="texto">
<h2>Fazer Login Profissional:</h2>

<div class="form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :cpf, "CPF:" %><br />
      <%= f.text_field :cpf, :class => 'cpf', :autofocus => true %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha:" %><br />
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
  <% end %>
</div>

<%= render "profissionais/shared/links" %>

</div>

<%= image_tag("calendario_exemplo.png", id: "calendario") %>
