<%-#
'<div id="barra-brasil">
  <div class="barra-brasil-left"></div>
  <div class="barra-brasil-container">
    <div class="barra-brasil-container-ai">
      <a href="http://www.brasil.gov.br" class="brasilgov" title="Portal de Estado do Brasil"></a>
      <a href="http://www.acessoainformacao.gov.br" class="ai" title="Acesso à informação"></a>
    </div>
  </div>
  <div class="barra-brasil-right"></div>
</div>'
%>

<div id="acessibilidade">
  <p>
    <%= link_to "Alto contraste",
        params.merge(:alto_contraste => @contraste.nil?),
        :id => "alto-contraste" %>

    Tamanho da fonte:
    <% if(@tamanho_fonte > 12) %>
      <%= link_to "A-", params.merge(:tamanho_fonte => (@tamanho_fonte - 1)),
          :id => "diminuir-fonte" %>
    <% else %>
      <%= link_to "A-", params.merge(:tamanho_fonte => 12),
          :id => "diminuir-fonte", :class => "disabled-link" %>
    <% end %>

    <%= link_to "A", params.merge(:tamanho_fonte => 16),
        :id => "fonte-padrao" %>

    <% if(@tamanho_fonte < 20) %>
      <%= link_to "A+", params.merge(:tamanho_fonte => (@tamanho_fonte + 1)),
          :id => "aumentar-fonte" %>
    <% else %>
      <%= link_to "A+", params.merge(:tamanho_fonte => 20),
          :id => "aumentar-fonte", :class => "disabled-link" %>
    <% end %>
  </p>
</div>

<div id="header">
  <h1>Agendador</h1>
  <h2><%= Prefeitura.first.nome %></h2>
</div>
