<div id="sidebar">
  <ul id="sidebar-items">
    <li>
      <ul class="links">
        <%= render :partial => 'layouts/links' %>
        <HR>
        <% if cidadao_signed_in? %>
          <li> Você está logado como: <%= current_cidadao.nome %>.</li>
          <HR>
          <li> <%= link_to 'Sair', destroy_cidadao_session_path, :method => :delete %> </li>
          <%= render :partial => 'layouts/links_cidadao' %>
        <% else %>
          <% if profissional_signed_in? %>
            <li> Você está logado como: <%= current_profissional.nome %>.</li>
            <HR>
            <li> <%= link_to 'Sair', destroy_profissional_session_path, :method => :delete %> </li>
            <%= render :partial => 'layouts/links_profissional' %> 
          <% else %>
            <li> <%= link_to 'Login Cidadão', new_cidadao_session_path %> </li>
            <li> <%= link_to 'Criar Conta Cidadão', new_cidadao_registration_path %> </li>
            <li> <%= link_to 'Login Profissional', new_profissional_session_path %> </li>
          <% end %>
        <% end %>
        <HR>
      </ul>
    </li>
  </ul>
</div>
