<div id="texto-maior">
<h2>Escalas <span>
<% if current_profissional.orgao.nil? %>
    ERRO: Profissional náo possui <%=t('orgao')%> , por favor contate o suporte técnico!
<% else %>
  <%= current_profissional.orgao.nome %>
<% end %></span>
</h2>

<div id="search-form">
<h4>Buscar Escalas:</h4>
<%= search_form_for(@search, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :tipo_atendimento_id, "Tipo Atendimento: " %><br />
   <%= f.select :tipo_atendimento_id_eq,
options_from_collection_for_select(TipoAtendimento.joins(:orgaos).where("orgao_id = ? AND
tipo_atendimentos.ativo = ?", current_profissional.orgao_id,true),
"id","descricao",@search.tipo_atendimento_id_eq),
{:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="field">
    <%= f.label :profissional_executor_id, "Profissional: " %><br />
    <%= f.select :profissional_executor_id_eq,
options_from_collection_for_select(Profissional.where("orgao_id = ? AND ativo = ?",
current_profissional.orgao_id,true), "id","nome",@search.profissional_executor_id_eq),
{:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="field">
    <%= f.label :data_execucao, "A partir de: " %><br />
    <%= f.date_select(:data_execucao_gteq,
        { :order => [ :day, :month, :year ],
          :start_year => Time.now.year }, {:class => "search-field"}) %>
  </div>

  <div class="field">
    <%= f.label :tipo_acao_id, "Tipo Ação: " %><br />
    <%= f.select :tipo_acao_id_eq,
options_from_collection_for_select(TipoAcao.all,"id","descricao",@search.tipo_acao_id_eq),
 {:include_blank => "Todos"}, {:class => "search-field"} %>
  </div>

  <div class="actions">
    <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos", :id => "reset_btn" %>
  </div>
<% end %>
<hr>
</div>

<div id="tabela_escalas">
  <%= render "tabela_escalas" %>
</div>

<br />

<%= link_to 'Nova Escala', new_escala_path %>

</div>
